name: Terraform Automated Deployment

on:
  pull_request:
    branches:
      - main

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check Terraform format
        uses: hashicorp/terraform-github-actions@v0.5.4
        with:
          args: fmt -check

  validate:
    needs: format_check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Generate tfvars
        run: |
          for var in $(compgen -e); do
            echo "${var} = \"$(printenv ${var})\"" >> terraform.tfvars
          done
          cat terraform.tfvars
        working-directory: terraform/dev

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init
        working-directory: terraform/dev

      - name: Terraform Validate
        run: terraform validate -var-file=terraform.tfvars
        working-directory: terraform/dev
