name: Terraform Automated Deployment

on:
  pull_request:
    branches:
      - main

jobs:
  format_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Check Terraform format
        uses: hashicorp/terraform-github-actions@v0.5.4
        with:
          args: fmt -check

  validate:
    needs: format_check
    runs-on: ubuntu-latest
    env:
      REGION: ${{ secrets.TF_VAR_region }}  # Replace with your variable name
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ secrets.TF_VAR_aws_access_key_id }}  # Replace with your AWS access key secret

      - name: Terraform Validate
        run: terraform validate -var "region=${REGION}"
